LibraryApp/LibraryApp/Service References/LibraryWS/LibraryWebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="VerificarBibliotecario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarBibliotecarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerificarBibliotecarioResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarLibro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="titulo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="autor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="disponibilidad" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoUbicacion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarLibroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarLibroResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarLibro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoLibro" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="titulo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="autor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="disponibilidad" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoUbicacion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarLibroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModificarLibroResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarLibro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoLibro" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarLibroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarLibroResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UbicarLibro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoLibro" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UbicarLibroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UbicarLibroResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarLibros">
        <s:complexType />
      </s:element>
      <s:element name="BuscarLibrosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarLibrosResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistorialSocio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoSocio" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="estado" nillable="true" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistorialSocioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HistorialSocioResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarPrestamosTodo">
        <s:complexType />
      </s:element>
      <s:element name="BuscarPrestamosTodoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarPrestamosTodoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarPrestamo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoSocio" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoLibro" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaPrestamo" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="estado" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarPrestamoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarPrestamoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarPrestamo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoPrestamo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoSocio" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoLibro" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaPrestamo" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="estado" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarPrestamoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModificarPrestamoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarPrestamo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoPrestamo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarPrestamoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarPrestamoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComprobarSocio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoSocio" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComprobarSocioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ComprobarSocioResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarSocio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoSocio" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarSocioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerificarSocioResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarSocio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoSocio" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarSocioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarSocioResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarSocioTodo">
        <s:complexType />
      </s:element>
      <s:element name="BuscarSocioTodoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarSocioTodoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarSocio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoSocio" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="primerApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="segundoApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarSocioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModificarSocioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarSocio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoSocio" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarSocioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarSocioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContarPrestamosSocio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoSocio" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContarPrestamosSocioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ContarPrestamosSocioResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarSocio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="primerApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="segundoApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="estado" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarSocioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgregarSocioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarEstadoSocio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoSocio" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="estado" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarEstadoSocioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModificarEstadoSocioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VerificarBibliotecarioSoapIn">
    <wsdl:part name="parameters" element="tns:VerificarBibliotecario" />
  </wsdl:message>
  <wsdl:message name="VerificarBibliotecarioSoapOut">
    <wsdl:part name="parameters" element="tns:VerificarBibliotecarioResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarLibroSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarLibro" />
  </wsdl:message>
  <wsdl:message name="InsertarLibroSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarLibroResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarLibroSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarLibro" />
  </wsdl:message>
  <wsdl:message name="ModificarLibroSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarLibroResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarLibroSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarLibro" />
  </wsdl:message>
  <wsdl:message name="EliminarLibroSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarLibroResponse" />
  </wsdl:message>
  <wsdl:message name="UbicarLibroSoapIn">
    <wsdl:part name="parameters" element="tns:UbicarLibro" />
  </wsdl:message>
  <wsdl:message name="UbicarLibroSoapOut">
    <wsdl:part name="parameters" element="tns:UbicarLibroResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarLibrosSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarLibros" />
  </wsdl:message>
  <wsdl:message name="BuscarLibrosSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarLibrosResponse" />
  </wsdl:message>
  <wsdl:message name="HistorialSocioSoapIn">
    <wsdl:part name="parameters" element="tns:HistorialSocio" />
  </wsdl:message>
  <wsdl:message name="HistorialSocioSoapOut">
    <wsdl:part name="parameters" element="tns:HistorialSocioResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarPrestamosTodoSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarPrestamosTodo" />
  </wsdl:message>
  <wsdl:message name="BuscarPrestamosTodoSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarPrestamosTodoResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarPrestamoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarPrestamo" />
  </wsdl:message>
  <wsdl:message name="InsertarPrestamoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarPrestamoSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarPrestamo" />
  </wsdl:message>
  <wsdl:message name="ModificarPrestamoSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarPrestamoSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarPrestamo" />
  </wsdl:message>
  <wsdl:message name="EliminarPrestamoSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="ComprobarSocioSoapIn">
    <wsdl:part name="parameters" element="tns:ComprobarSocio" />
  </wsdl:message>
  <wsdl:message name="ComprobarSocioSoapOut">
    <wsdl:part name="parameters" element="tns:ComprobarSocioResponse" />
  </wsdl:message>
  <wsdl:message name="VerificarSocioSoapIn">
    <wsdl:part name="parameters" element="tns:VerificarSocio" />
  </wsdl:message>
  <wsdl:message name="VerificarSocioSoapOut">
    <wsdl:part name="parameters" element="tns:VerificarSocioResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarSocioSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarSocio" />
  </wsdl:message>
  <wsdl:message name="BuscarSocioSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarSocioResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarSocioTodoSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarSocioTodo" />
  </wsdl:message>
  <wsdl:message name="BuscarSocioTodoSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarSocioTodoResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarSocioSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarSocio" />
  </wsdl:message>
  <wsdl:message name="ModificarSocioSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarSocioResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarSocioSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarSocio" />
  </wsdl:message>
  <wsdl:message name="EliminarSocioSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarSocioResponse" />
  </wsdl:message>
  <wsdl:message name="ContarPrestamosSocioSoapIn">
    <wsdl:part name="parameters" element="tns:ContarPrestamosSocio" />
  </wsdl:message>
  <wsdl:message name="ContarPrestamosSocioSoapOut">
    <wsdl:part name="parameters" element="tns:ContarPrestamosSocioResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarSocioSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarSocio" />
  </wsdl:message>
  <wsdl:message name="AgregarSocioSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarSocioResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarEstadoSocioSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarEstadoSocio" />
  </wsdl:message>
  <wsdl:message name="ModificarEstadoSocioSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarEstadoSocioResponse" />
  </wsdl:message>
  <wsdl:portType name="LibraryWebServiceSoap">
    <wsdl:operation name="VerificarBibliotecario">
      <wsdl:input message="tns:VerificarBibliotecarioSoapIn" />
      <wsdl:output message="tns:VerificarBibliotecarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarLibro">
      <wsdl:input message="tns:InsertarLibroSoapIn" />
      <wsdl:output message="tns:InsertarLibroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarLibro">
      <wsdl:input message="tns:ModificarLibroSoapIn" />
      <wsdl:output message="tns:ModificarLibroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarLibro">
      <wsdl:input message="tns:EliminarLibroSoapIn" />
      <wsdl:output message="tns:EliminarLibroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UbicarLibro">
      <wsdl:input message="tns:UbicarLibroSoapIn" />
      <wsdl:output message="tns:UbicarLibroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarLibros">
      <wsdl:input message="tns:BuscarLibrosSoapIn" />
      <wsdl:output message="tns:BuscarLibrosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HistorialSocio">
      <wsdl:input message="tns:HistorialSocioSoapIn" />
      <wsdl:output message="tns:HistorialSocioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPrestamosTodo">
      <wsdl:input message="tns:BuscarPrestamosTodoSoapIn" />
      <wsdl:output message="tns:BuscarPrestamosTodoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarPrestamo">
      <wsdl:input message="tns:InsertarPrestamoSoapIn" />
      <wsdl:output message="tns:InsertarPrestamoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarPrestamo">
      <wsdl:input message="tns:ModificarPrestamoSoapIn" />
      <wsdl:output message="tns:ModificarPrestamoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarPrestamo">
      <wsdl:input message="tns:EliminarPrestamoSoapIn" />
      <wsdl:output message="tns:EliminarPrestamoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ComprobarSocio">
      <wsdl:input message="tns:ComprobarSocioSoapIn" />
      <wsdl:output message="tns:ComprobarSocioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificarSocio">
      <wsdl:input message="tns:VerificarSocioSoapIn" />
      <wsdl:output message="tns:VerificarSocioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarSocio">
      <wsdl:input message="tns:BuscarSocioSoapIn" />
      <wsdl:output message="tns:BuscarSocioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarSocioTodo">
      <wsdl:input message="tns:BuscarSocioTodoSoapIn" />
      <wsdl:output message="tns:BuscarSocioTodoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarSocio">
      <wsdl:input message="tns:ModificarSocioSoapIn" />
      <wsdl:output message="tns:ModificarSocioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarSocio">
      <wsdl:input message="tns:EliminarSocioSoapIn" />
      <wsdl:output message="tns:EliminarSocioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ContarPrestamosSocio">
      <wsdl:input message="tns:ContarPrestamosSocioSoapIn" />
      <wsdl:output message="tns:ContarPrestamosSocioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarSocio">
      <wsdl:input message="tns:AgregarSocioSoapIn" />
      <wsdl:output message="tns:AgregarSocioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarEstadoSocio">
      <wsdl:input message="tns:ModificarEstadoSocioSoapIn" />
      <wsdl:output message="tns:ModificarEstadoSocioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LibraryWebServiceSoap" type="tns:LibraryWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarBibliotecario">
      <soap:operation soapAction="http://tempuri.org/VerificarBibliotecario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarLibro">
      <soap:operation soapAction="http://tempuri.org/InsertarLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarLibro">
      <soap:operation soapAction="http://tempuri.org/ModificarLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarLibro">
      <soap:operation soapAction="http://tempuri.org/EliminarLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UbicarLibro">
      <soap:operation soapAction="http://tempuri.org/UbicarLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarLibros">
      <soap:operation soapAction="http://tempuri.org/BuscarLibros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistorialSocio">
      <soap:operation soapAction="http://tempuri.org/HistorialSocio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPrestamosTodo">
      <soap:operation soapAction="http://tempuri.org/BuscarPrestamosTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarPrestamo">
      <soap:operation soapAction="http://tempuri.org/InsertarPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarPrestamo">
      <soap:operation soapAction="http://tempuri.org/ModificarPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarPrestamo">
      <soap:operation soapAction="http://tempuri.org/EliminarPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprobarSocio">
      <soap:operation soapAction="http://tempuri.org/ComprobarSocio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarSocio">
      <soap:operation soapAction="http://tempuri.org/VerificarSocio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarSocio">
      <soap:operation soapAction="http://tempuri.org/BuscarSocio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarSocioTodo">
      <soap:operation soapAction="http://tempuri.org/BuscarSocioTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarSocio">
      <soap:operation soapAction="http://tempuri.org/ModificarSocio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSocio">
      <soap:operation soapAction="http://tempuri.org/EliminarSocio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContarPrestamosSocio">
      <soap:operation soapAction="http://tempuri.org/ContarPrestamosSocio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarSocio">
      <soap:operation soapAction="http://tempuri.org/AgregarSocio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarEstadoSocio">
      <soap:operation soapAction="http://tempuri.org/ModificarEstadoSocio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LibraryWebServiceSoap12" type="tns:LibraryWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarBibliotecario">
      <soap12:operation soapAction="http://tempuri.org/VerificarBibliotecario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarLibro">
      <soap12:operation soapAction="http://tempuri.org/InsertarLibro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarLibro">
      <soap12:operation soapAction="http://tempuri.org/ModificarLibro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarLibro">
      <soap12:operation soapAction="http://tempuri.org/EliminarLibro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UbicarLibro">
      <soap12:operation soapAction="http://tempuri.org/UbicarLibro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarLibros">
      <soap12:operation soapAction="http://tempuri.org/BuscarLibros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistorialSocio">
      <soap12:operation soapAction="http://tempuri.org/HistorialSocio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPrestamosTodo">
      <soap12:operation soapAction="http://tempuri.org/BuscarPrestamosTodo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarPrestamo">
      <soap12:operation soapAction="http://tempuri.org/InsertarPrestamo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarPrestamo">
      <soap12:operation soapAction="http://tempuri.org/ModificarPrestamo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarPrestamo">
      <soap12:operation soapAction="http://tempuri.org/EliminarPrestamo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprobarSocio">
      <soap12:operation soapAction="http://tempuri.org/ComprobarSocio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarSocio">
      <soap12:operation soapAction="http://tempuri.org/VerificarSocio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarSocio">
      <soap12:operation soapAction="http://tempuri.org/BuscarSocio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarSocioTodo">
      <soap12:operation soapAction="http://tempuri.org/BuscarSocioTodo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarSocio">
      <soap12:operation soapAction="http://tempuri.org/ModificarSocio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSocio">
      <soap12:operation soapAction="http://tempuri.org/EliminarSocio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContarPrestamosSocio">
      <soap12:operation soapAction="http://tempuri.org/ContarPrestamosSocio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarSocio">
      <soap12:operation soapAction="http://tempuri.org/AgregarSocio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarEstadoSocio">
      <soap12:operation soapAction="http://tempuri.org/ModificarEstadoSocio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LibraryWebService">
    <wsdl:port name="LibraryWebServiceSoap" binding="tns:LibraryWebServiceSoap">
      <soap:address location="http://www.libraryapponline.somee.com/LibraryWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="LibraryWebServiceSoap12" binding="tns:LibraryWebServiceSoap12">
      <soap12:address location="http://www.libraryapponline.somee.com/LibraryWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>